/* ====================================
Layout
==================================== */
/* Flexboxについて定義しています。
------------------------------------ */
.l-flex {
	display: flex;
}
.l-flex-order--1 {
	@include mq(){
		order: 1;
	}
}
.l-flex-order--2 {
	@include mq(){
		order: 2;
	}
}